* {
  color: #1f3446;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
}

html {
  background-image: url(images/background.png);
}

body {
  display: flex;
  margin-top: 2rem;
}

#to-do-list {
  margin: auto;
  padding: 2rem;
  width: 80%;
  max-width: 700px;
  border: 2px dotted #365978;
  border-radius: 10%;
  background-color: rgba(233,123,80,0.6);
}

h1 {
  color: #365978;
  text-align: center;
  font-family: 'Euphoria Script', cursive;
  font-size: 3.5rem;
}

h2 {
  color: #365978;
  text-align: center;
  font-family: 'Euphoria Script', cursive;
  font-size: 2rem;
  margin-top: 7px;
}

p {
  text-align: center;
}

/* ---------------------------- */
/* ----- Add item section ----- */
/* ---------------------------- */

#input-form {
  text-align: center;
}

#task-input {
  padding: 7px 15px;
  margin-bottom: 15px;
  background-color:rgba(0, 0, 0, 0);
  border: 1px dotted #365978;
  width: 300px;
  max-width: 75%;
}

#add-task-button {
  padding: 7px 15px;
  margin: 5px;
  background: #365978;
  border: solid 1px #406b91;
  color: #ced0d4;
  border-radius: 5px;
  font-size: 1.05rem;
}

  #add-task-button:hover {
    background: #ced0d4;
    color: #365978;
  }

  #add-task-button:active {
    background: #d8dade;
    border-color: #d8dade;
  }

/* ----------------------------- */
/* ----- Main list section ----- */
/* ----------------------------- */

#task-list-main {
  border: 2px dotted #365978;
  border-radius: 5%;
  margin-top: 25px;
}

li {
  list-style-type: none;
  padding-top: 15px;
}

.item-delete {
  position: inline-block;
  float: right;
  margin-left: 20px;
}

    .item-delete:hover {
      opacity: 0.6;
    }

.task-list-item {
  border-top: 2px dotted #365978;
  padding: 12px;
  padding-left: 30px;
}