* {
  color: #181818;
  font-family: arial, helvetica, sans-serif;
}

html {
  background-image: url(images/background.png);
}

body {
  display: flex;
  margin-top: 2rem;
}

#to-do-list {
  margin: auto;
  padding: 2rem;
  width: 80%;
  max-width: 700px;
  border: 2px dotted #365978;
  border-radius: 10%;
  background-color: rgba(233,123,80,0.6);
}

h1 {
  text-align: center;
  font-family: 'Euphoria Script', cursive;
  font-size: 3.5rem;
}

p {
  text-align: center;
}

#input-form {
  text-align: center;
}

#task-input {
  padding: 7px 15px;
  background-color:rgba(0, 0, 0, 0);
  border: 1px dotted #365978;
}

#add-task-button {
  padding: 7px 15px;
  margin: 5px;
  background: #f6f7f9;
  border: solid 1px #ced0d4;
  color: #4b4f56;
}

  #add-task-button:hover {
    background: #e9ebee;
  }

  #add-task-button:active {
    background: #d8dade;
    border-color: #d8dade;
  }